.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    box-shadow: 0px 1px 2px black;
 

}
.logo{
    width:150px;
}
.header-items{
    padding-top: 15px;
    padding-right: 50px;
    
   
}
.orderlist{
    display: flex;
}
.list{
    margin: 5px;
    padding: 10px;
    list-style: none;
   font-weight: bold;
    
}

.cuisine{
    font-size: 15px;
    overflow: hidden;
    margin-top: 0%;
}
.search{
    padding: 10px 0px;
    width: 200px;
}
.fooditems{
    margin-top: 0px;
    margin-bottom: 0%;
    width: 245px;
    height: 350px;
    background-color: 
    rgb(248, 245, 245);
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px black;

}
.fooditems:hover{
    border: 1px solid black;
    cursor: pointer;

}
.image{
    margin-top: 0%;
    width: 100px;
    margin-bottom: 0%;
    padding-left: 70px;
   
}
.res-container{
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
  
}
